body {
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #443d76, #4a3d74, #4f3d71, #533d6e, #573d6c, #573b6b, #573a6b, #57386a, #53346b, #4f316d, #4a2d6e, #442a70);
}

.quiz-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 5px 29px rgba(0, 0, 0, 0.484));
}

.border-radius {
    border-radius: 90px !important;
    margin-bottom: 8px;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px !important;
}

.card {
    width: 90%;
    background-color: none !important;
}

.card-title {
    margin: 20px 30px 50px 0px !important;
    text-align: end;
    color: whitesmoke !important;
}

h3 {
    margin-bottom: 1.5rem !important;
    width: 90%;
}

.card-style {

    height: 600px;
    background-image: linear-gradient(to right bottom, #7468ca, #7e67c8, #8767c5, #8f66c3, #9766c0, #9764bf, #9761be, #975fbd, #905abe, #8855bf, #8050c0, #774bc1);
}

.card-body {
    border-radius: 90px !important;
}

.answer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.295);

}

.answer:hover {
    cursor: pointer;
    background-color: #7c68ee30;
}

.bgcolor-6A4CA4 {
    background-color: #A066BC !important;
    margin-top: 16px;
    border: none !important;
}

.bgcolor-6A4CA4:hover {
    filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.14));
}


.button-position-right {
    display: flex;
    justify-content: end;
    margin: 20px 30px 30px 0px !important;
}

.d_flex_c_c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-success,
.bg-danger {
    color: whitesmoke !important;
}

.test {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-screen {
    text-align: center;
}

.end-screen img {
    width: 160px;
    margin: 30px;
}

.progress-bar {
    background-color: #915BBE !important;
}


@media(max-width:768px)  {
    .welcome-page {
        text-align: center;
        margin-top: 100px !important;
        margin-bottom: 60px;
    }

    .col-md-4 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-title {
        margin: 20px 0px 50px 0px !important;
    }

    .button-position-right {
        margin: 30px 0px 30px 0px !important;
    }
}